<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ApiTest">
	<test name="ApiTest">
		<classes>
			<class name="com.api.cases.RegisterCase" />
			<class name="com.api.cases.LoginCase" />
			<class name="com.api.cases.RechargeCase" />
		</classes>
	</test>
</suite> 